@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic,600,500,400,300&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
